<template>
  <div class="main">
    <VideoPlayer :video-details="videoDetails" :video-url="videoUrl" />
    <div id="favorites">
      <div id="favorite-actions">
        <form @submit.prevent id="favorite-query">
          <input id="query-input" v-model="query" type="text" />
          <button id="query-button" @click="filter('query')" type="submit">Query</button>
        </form>
      </div>
      <div class="favorite-buttons">
        <button id="title-filter" @click="filter('title')">Title</button>
        <button id="date-filter" @click="filter('date')">Date</button>
        <button id="length-filter" @click="filter('length')">Length</button>
      </div>
      <VideoList :videos="favorites" :change-main-video="changePlayingVideo" />
    </div>
  </div>
</template>

<script>
import VideoList from "../components/VideoList";
import VideoPlayer from "../components/VideoPlayer";
import {convert_time} from "../services/youtube";
export default {
  name: "Favorites",
  components: {VideoPlayer, VideoList},
  // #Reactive data object
  // the data method in the vue object is where you create your reactive data as vue runs this in a method to be called when update is triggered
  data() {
    return {
      query: "",
      sorted: false,
      sortedFavorites: [],
      videoUrl: "",
      videoDetails: {
        id: {
          kind: "",
          videoId: ""
        }
      },
    }
  },
  // #Lifecycle hooks
  // beforeMount runs the logic defined in it before the component we are currently in is mounted on the DOM unsure if it's the virtual DOM or primary DOM
  beforeMount() {
    this.changePlayingVideo(this.favorites[0]);
  },
  methods: {
    async changePlayingVideo(video) {
      this.videoDetails = video;
      this.videoUrl = `https://www.youtube.com/embed/${video.id}`
    },
    async filter(type) {
      if (this.sorted) {
        this.sortedFavorites = [];
        this.sorted = false;
        return;
      }

      switch (type) {
        case "query":
          if (this.query.trim() !== "") {
            this.sortedFavorites = this.queryFavorites;
          } else {
            this.sortedFavorites = [];
          }
          break;
        case "title":
            this.sortedFavorites = this.titleFavorites;
            this.sorted = true;
          break;
        case "date":
            this.sortedFavorites = this.dateFavorites;
            this.sorted = true;
          break;
        case "length":
            this.sortedFavorites = this.lengthFavorites;
            this.sorted = true;
          break;
      }
    }
  },
  computed: {
    favorites() {
      return this.sortedFavorites.length > 0 ? this.sortedFavorites : this.$store.state.favorites;
    },
    queryFavorites() {
      return this.$store.state.favorites.filter(fav => {
          return fav.snippet.title.toLowerCase().includes(this.query.toLowerCase())
              || fav.snippet.description.toLowerCase().includes(this.query.toLowerCase())
      })
    },
    titleFavorites() {
      const data = [...this.$store.state.favorites];
      return data.sort((favA, favB) => {
        return favA.snippet.title.toLowerCase() > favB.snippet.title.toLowerCase() ? 1 : -1;
      })
    },
    dateFavorites() {
      const data = [...this.$store.state.favorites];
      return data.sort((favA, favB) => {
        return favA.snippet.publishedAt > favB.snippet.publishedAt ? 1 : -1;
      })
    },
    lengthFavorites() {
      const data = [...this.$store.state.favorites];
      return data.sort((favA, favB) => {
        return convert_time(favA.contentDetails.duration) > convert_time(favB.contentDetails.duration) ? -1 : 1;
      })
    },
  }
}
</script>

<!-- #Styling -->
<!-- This is how most vue apps are styled with all the css (scss, sass, less, etc) stored in this section the scoped attribute prevents the styles from bleeding outside this component and effecting the rest of your app -->
<style scoped>
.main {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
}

#favorites {
  width: 20%
}
</style>