<template>
  <div>
    <form class="login-form" @submit.prevent v-if="!isLoggedIn">
      <div>
        <label for="email">Email:</label>
        <input id="email" name="email" type="text" placeholder="example@example.com" v-model="email">
      </div>
      <div>
        <label for="email">Password:</label>
        <input id="password" name="password" :type="isMasked ? 'password' : 'test'" v-model="password">
        <span id="mask" @click="() => { isMasked = !isMasked }"><fa-icon icon="mask" /></span>
      </div>
      <button :disabled="!isLoginAble" @click="login()" type="submit">Login</button>
    </form>
    <div v-if="isLoggedIn">
      <h1>Landing</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: "Landing",
  data() {
    return {
      isMasked: true,
      email: null,
      password: null
    }
  },
  methods: {
    clear() {
      this.email = "";
      this.password = "";
    },
    login() {
      this.$store.dispatch("login").then(() => {
        setTimeout(() => {
          this.$router.push({ path: "search"})
          this.clear();
        }, 1500)
      });
    },
    validatePassword() {
      // 1 Capital 1 Lowercase and 1 number
      return new RegExp("(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).*\\b\\w{6,10}").test(this.password)
    }
  },
  computed: {
    isLoginAble: function() { return this.email && this.validatePassword() },
    isLoggedIn: function () { return this.$store.state.isAuthenticated }
  }
}
</script>

<style scoped>
.login-form {
  display: flex;
  flex-flow: nowrap column;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.login-form label {
  margin-right: 10px;
}

.login-form input {
  margin-bottom: 20px;
}

.login-form div span {
  margin-left: 10px;
}
</style>
