<template>
  <div class="search-page">
    <form class="search-bar" @submit.prevent>
      <input id="search-input" v-model="searchTerm" type="text" />
      <button id="search-button" @click="searchYoutube()" type="submit">Search</button>
    </form>
    <div class="main">
      <VideoPlayer :video-details="videoDetails" :video-url="videoUrl" />
      <div id="search-results">
        <VideoList :changeMainVideo="changeMainVideo" :videos="results"  />
      </div>
    </div>
  </div>
</template>

<script>
import { getVideoDetails, ytSearch } from "../services/youtube";
import VideoList from "../components/VideoList";
import VideoPlayer from "../components/VideoPlayer";

export default {
  name: "Search",
  components: {
    VideoPlayer,
    VideoList
  },
  data() {
    return {
      searchTerm: "",
      videoUrl: "",
      videoDetails: {
        id: {
          kind: "",
          videoId: ""
        }
      },
      results: []
    }
  },
  methods: {
    async searchYoutube() {
      this.results = await ytSearch(this.searchTerm, this.$store.state.apiKey);
      await this.changeMainVideo(this.results[0]);
    },
    async changeMainVideo(video) {
      this.videoDetails = video;
      const resp = await getVideoDetails(video.id.videoId, this.$store.state.apiKey);
      this.videoUrl = `https://www.youtube.com/embed/${resp.data.items[0].id}`
    }
  }
}
</script>

<style scoped>
.search-page {
  display: flex;
  flex-flow: column nowrap;
}

.search-bar button {
  margin-left: 20px;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
}

#search-results {
  width: 20%
}
</style>