<template>
  <!--  #Vue directives  -->
  <!-- v-if is a vue directive this one renders the div if the statement is true else does NOT even renders the block -->
  <div id="primary-video" v-if="videoUrl !== ''">
    <iframe allowfullscreen :src="videoUrl" height="315" width="560" />
    <div class="video-details">
      <h5>{{ videoDetails.snippet.title }}</h5>
      <p>{{ videoDetails.snippet.description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "VideoPlayer",
  props: {
    videoUrl: String,
    videoDetails: {
      snippet: {
        title: String,
        description: String
      }
    }
  }
}
</script>

<style scoped>
#primary-video {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  align-items: center;
}

.video-details {
  text-align: center;
  max-width: 560px;
}
</style>