<template>
  <ul>
    <!--  #Vue directives  -->
    <!--  :attribute is a shorthand for v-model:attribute which binds the attribute to the code being used in the script section or assign a function directly to the attribute  -->
    <!--  #Vue directives  -->
    <!--  v-for is a directive in vue that handles the creation of items in for loop action. In this case for each video in videos the li element is created and uses the instance video that exists in the videos array  -->
    <!--  #Lists & Keys  -->
    <!--  The :key is important in this as it helps vue correctly manage the dynamically create li that the v-for is reacting to on the fly  -->
    <li :key="video.id.videoId" v-for="video of videos">
      <!-- #Styling -->
      <!-- Styles can be defined right in the template using "style" attribute or classes from your style section -->
      <div @click="changeFavorites(video)" :class="isFavorited(video) ? 'favorited' : 'favorite'">
        <fa-icon icon="star" />
      </div>
      <!--  #Event handling  -->
      <!--  @SomeEvent is a way to setup event listeners in Vue. This one is listening for a click event on this div -->
      <div @click="changeMainVideo(video)" >
        <img :src="video.snippet.thumbnails.default.url" alt="">
        <p>{{ video.snippet.title }}</p>
      </div>
    </li>
  </ul>
</template>

<!--  #Components  -->
<!-- All three sections template, script, and style is what creates a Vue component -->
<script>
export default {
  name: "VideoList",
  // #Props
  // Props are values brought into the component by the calling component when used they look like attributes
  props: {
    // #Props
    // You also specify the type of data it'll be not the data itself as it'll change on a case by case bases like parameters on functions
    videos: Array,
    changeMainVideo: Function
  },
  methods: {
    async changeFavorites(video) {
      this.isFavorited(video)
          ? await this.$store.dispatch("removeFavorite", video)
          : await this.$store.dispatch("addFavorite", video);
    },
    isFavorited(video) {
      return this.$store.state.favorites.some(el => { return el.id === video.id.videoId })
    }
  }
}
</script>

<style scoped>
ul li {
  list-style: none;
  cursor: pointer;
}

.favorite {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.favorited {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: #f8b619;
}

.favorite:hover {
  color: #f8b619;
}
</style>