<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
      |
      <router-link to="/search">Search</router-link>
      |
      <router-link to="/favorites">Favorites</router-link>
    </div>
    <Header/>
    <router-view/>
  </div>
</template>

<script>
import Header from "./components/Header";

export default {
  components: {Header}
}
</script>

<!-- #Styling -->
<!-- This styling is global as there is no scope mentioned -->
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
